@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Source+Code+Pro&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.nav-link{
  color: white;
}

.introduction-image {
    height: 105vh !important;
    object-fit: cover;
  }
  
  .brightness-20 {
    filter: brightness(30%);
  }
  
  .introduction-text {
    filter: none !important;
    z-index: 5 !important;
  }

  .fa-chevron-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #009bbc;
    font-size: 2em;
    animation: bounce 2s infinite;
  }

  .welcome-text{
    position: absolute;
    z-index: 20;
    top:40%;
  }

  .fa-chevron-left{
    color: #009bbc;
    font-size: 2em;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
  }

  .choose-template{
    height: 100vh !important;
  }

  .bg-effect {
    background-color: #0071BC;
    filter: blur(200px) opacity(1);
    z-index: 0;
  }

  .template-text{
    z-index: 1;
  }
  
  .template-options{
    z-index: 2;
  }

  .new-template{
    height: 100vh;
  }

  .template-text-container{
    z-index: 2;
  }

  .code-space-img{
    z-index: 2;
  }

  .about-container{
    height: 100vh;
  }

  .about-image{
    border-radius: 35px;
    height: 25em;
    object-fit: cover;
  }

  .second-template-text-container{
    z-index: 2;
  }

  .footer{
    color: white;
  }