<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecode - Templates</title>

    <link rel="shortcut icon" type="image/jpg" href="images/ESVG-03.svg"/>

    <link rel="stylesheet" href="css/template.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/ad4441e58a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body class="bg-black">
    <!--Nav bar-->
    <nav class="navbar navbar-dark navbar-expand-lg bg-transparent fixed-top" id="mynavbar">
      <div class="container-fluid">
          <a class="navbar-brand d-none d-lg-block d-sm-none w-75 ms-3" href="#">
            <img src="images/EcodePNG.png" class="img-fluid" width="20%" alt="ecode">
          </a>

          <button class="navbar-toggler border-0 mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <img src="images/E100x150.png" alt="Hamburguesa">
          </button>

          <button class="navbar-toggler border-0 mt-2 d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
            <i class="fa-solid fa-sliders fa-lg text-info"></i>
          </button>

          
          <div class="offcanvas offcanvas-start bg-dark d-flex flex-column justify-content-center align-items-center text-center z-5" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn me-4" data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="images/EcodePNG.png" class="img-fluid" width="70%" alt="ecode">
              </button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 me-3">
                <li class="nav-item">
                  <a class="nav-link mt-4 underline left" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item mt-4">
                  <a class="nav-link underline left" id="selected" href="#">TEMPLATES</a>
                </li>
                <li class="nav-item mt-4">
                  <a class="nav-link  underline left" href="#">ABOUT</a>
                </li>
                <li class="nav-item mt-4">
                  <a class="nav-link underline left" href="#">WORK</a>
                </li>
                <li class="nav-item mt-4">
                  <a class="nav-link underline left" href="#">PRICING</a>
                </li>
                <li class="nav-item mt-4">
                  <a class="nav-link underline left" href="#">CONTACT</a>
                </li>
                <li class="nav-item d-sm-none mt-5" data-bs-dismiss="offcanvas" aria-label="Close">
                  <i class="fa-solid fa-chevron-left text-info fa-lg"></i>
                </li>
              </ul>
            </div>
          </div>

          <div class="offcanvas offcanvas-end bg-dark d-flex flex-column justify-content-center align-items-center text-center d-block d-sm-none" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <button type="button" class="btn me-4" data-bs-dismiss="offcanvas" aria-label="Close">
                <img src="images/EcodePNG.png" class="img-fluid" width="70%" alt="ecode">
              </button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 me-3">
                <li class="nav-item mb-5">
                  <select class="form-select form-select-lg" id="desplegable" name="desplegable">
                    <option value="opcion1">Free templates</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                  </select>
                </li>
                <li class="nav-item mb-5 mt-4">
                  <select class="form-select form-select-lg" id="desplegable" name="desplegable">
                    <option value="opcion1">Premium templates</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 2</option>
                  </select>
                </li>
                <li class="nav-item mb-5 mt-4">
                  <select class="form-select form-select-lg" id="desplegable" name="desplegable">
                    <option value="opcion1">Choose your color</option>
                    <option value="opcion2">White</option>
                    <option value="opcion3">Black</option>
                    <option value="opcion3">Yellow</option>
                    <option value="opcion3">Red</option>
                    <option value="opcion3">Blue</option>
                  </select>
                </li>
                <li class="nav-item mb-5 mt-4">
                  <input type="text" class="form-control" placeholder="  &#xF002; Search" style="font-family:Arial, FontAwesome">
                </li>
                <li class="nav-item d-sm-none mt-5" data-bs-dismiss="offcanvas" aria-label="Close">
                  <i class="fa-solid fa-chevron-right fa-lg text-info"></i>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </nav>
    <!--Nav bar-->

      <!--Content-->
    <div class="content p-5 d-flex flex-column">
      <!--Settings-->
      <div class="d-none d-sm-none d-lg-block row-3 d-lg-flex d-md-flex flex-row pl-5 pt-5 pr-5 m-4 justify-items-center settings1">
        <div
          class="col-lg-2 d-flex m-md-1 m-lg-auto"
        >
          <select class="form-select form-select-lg" id="desplegable" name="desplegable">
            <option value="opcion1">Free templates</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
          </select>
        </div>

        <div
          class="col-lg-2 d-flex m-md-1 m-lg-auto"
        >
          <select class="form-select form-select-lg" id="desplegable" name="desplegable">
            <option value="opcion1">Premium templates</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 2</option>
          </select>
        </div>

        <div
          class="col-lg-2 d-flex m-md-1  m-lg-auto"
        >
          <select class="form-select form-select-lg" id="desplegable" name="desplegable">
            <option value="opcion1">Choose your color</option>
            <option value="opcion2">White</option>
            <option value="opcion3">Black</option>
            <option value="opcion3">Yellow</option>
            <option value="opcion3">Red</option>
            <option value="opcion3">Blue</option>
          </select>
        </div>

        <div class="col-lg-2 d-flex m-md-1  m-lg-auto">
          <input type="text" class="form-control" placeholder="  &#xF002; Search" style="font-family:Arial, FontAwesome">
        </div>      

      </div>
      <!--Settings-->
      
      <hr class="border border-3 border-info opacity-100 d-flex px-5">

      <!--Gallery-->
      <div class="container cont2 pt-4 galeria">
        <div class="row">
          <div class="col rounded-5 m-2 foto foto1"></div>

          <div class="col rounded-5 m-2 foto foto2"></div>

          <div class="w-100 py-3"></div>

          <div class="col rounded-5 m-2 foto foto3"></div>

          

          <div class="col-4 rounded-5 m-2 foto foto2"></div>

          <div class="w-100 py-3"></div>

          <div class="col-4 rounded-5 m-2 foto foto4"></div>

          <div class="col rounded-5 m-2  foto foto5"></div>
          
          <div class="w-100 py-3"></div>

          <div class="col-6 rounded-5 m-2 foto foto1"></div>

          <div class="col rounded-5 m-2 foto2 foto"></div>

          <div class="w-100 py-3"></div>

          <div class="col rounded-5 m-2 foto3 foto"></div>

          <div class="col-4 rounded-5 m-2 foto2 foto"></div>

          <div class="w-100 py-3"></div>

          <div class="col-4 rounded-5 m-2 foto4 foto"></div>
          
          <div class="col rounded-5 m-2 foto5 foto"></div>
        </div>
      </div>
      <!--Gallery-->

      <!--Gallery2-->
      <div class="container cont1 pt-4 galeria">
        <div class="row">
          <div class="col-6 rounded-5 m-2 foto foto1"></div>

          <div class="col rounded-5 m-2 foto foto2"></div>

          <div class="col rounded-5 m-2 foto foto3"></div>

          <div class="w-100 py-3"></div>

          <div class="col-2 rounded-5 m-2 foto foto2"></div>

          <div class="col-6 rounded-5 m-2 foto foto4"></div>

          <div class="col rounded-5 m-2  foto foto5"></div>
          
          <div class="w-100 py-3"></div>

          <div class="col-6 rounded-5 m-2 foto foto1"></div>

          <div class="col rounded-5 m-2 foto2 foto"></div>

          <div class="col rounded-5 m-2 foto3 foto"></div>

          <div class="w-100 py-3"></div>

          <div class="col-2 rounded-5 m-2 foto2 foto"></div>

          <div class="col-6 rounded-5 m-2 foto4 foto"></div>
          
          <div class="col rounded-5 m-2 foto5 foto"></div>
        </div>
      </div>
      <!--Gallery2-->
      <img class="background-image-blue img-fluid position-absolute top-100 start-0 me-5 " src="images/background.svg" alt="">
      <img class="background-image-blue img-fluid position-absolute azul2" src="images/background.svg" alt="">
    </div>

    <div class="bg-effect  w-100 h-25 position-absolute top-50"></div>
    
    <!--Content-->

    <hr class="border border-2 border-info mt-3">

    <!--Footer-->
    <footer class="col-12 justify-content-evenly align-items-center pt-3">
      <div class="col-5 d-flex justify-content-evenly texto">
        <a  class="h4 underline left" href="#">Home</a>
        <a  class="h4 underline left" href="#">Pricing</a>
        <a  class="h4 underline left" id="selected" href="#">Templates</a>
        <a  class="h4 underline left" href="#">Contact</a>
      </div>

      <div class="col-2 d-flex flex-column justify-content-center align-items-center">
        <img class="col-md-3 col-sm-5" src="images/ESVG-03 copy.svg" alt="Ecode">
        <p>info@ecode.com</p>
      </div>
    

    <div class="col-5 d-flex justify-content-evenly">
      <i class="fa-brands fa-twitter fa-2xl text-light" ></i>
      <i class="fa-brands fa-linkedin fa-2xl text-light"></i>
      <i class="fa-brands fa-facebook fa-2xl text-light"></i>
      <i class="fa-brands fa-instagram fa-2xl text-light"></i>
    </div>
  
  </footer>
    <!--Footer-->

    <script src="/js/functions.js"></script>
    <script src="/js/all.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>