#contenedor{
    background-color: #000000;
}

.hola{
    background-color: black;
}

p{
    color: white;
}

.azul{
    color: #0097bc;
    background: none;
}

nav{
    display: none !important;

}

@media only screen and (min-width: 770px) {

    .container{
        display: none !important;
    }

    nav{
        display: none;
    }

    img{
        width: 300px;
    }
    
    #pagina1{
        height: 100vh;
    }
    
    #pagina2{
        height: 50vh;
        background: linear-gradient(0.5turn, #000,#0b3a5c, #000);
    }
    
    #texto_pagina1{
        height: 90vh;
        padding: 20%;
    }
    
    #fondo1{
        height: 90vh;
        background: linear-gradient(0.5turn, #000, #0b3a5c, #000);
    }
    
    #precios{
        height: 400px;
        border-radius: 35px;
        border-style: solid;
    }
    
    #precios_popular{
        height: 400px;
        border-radius: 35px;
        border-color: #0071BC;
        border-style: solid;
    }
    
    #popular{
        border-radius: 35px;
        width: 7%;
        background-color: #0071BC;
        margin-top: -15px;
    
    }
    
    #primer_texto{
        margin-top: 6vh;
    }
    
    #div_final{
        margin-top: 80px;
        margin-left: 150px;
        border-left: #0097bc;
        border-left-style: solid;
    }
    
    #imagen_final{
        margin-top: 120px;
        margin-left: 100px;
    }
    
    .mes{
        background-color: white;
        color: rgb(160, 158, 158);
        font-size: 70%;
    }
    
    .start{
        font-size: 12vh;
        color: white;
    }
    
    .second{
        font-size: 6vh;
        color: white;
    }
    
    .boton_precios{
        width: 80%;
        height: 12%;
        border-radius: 35px;
        border-style: none;
        background-color: white;
        color: #0071BC;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
    
    .boton_info{
        margin-top: 2vh;
        width: 30%;
        height: 13%;
        border-radius: 35px;
        border-style: none;
        background-color: #0071BC;
        color: white;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
}

@media only screen and (min-width: 426px) and (max-width: 769px) {

    nav{
        display: none;
    }
    img{
        width: 300px;
    }
    
    #pagina1{
        height: 50vh;
    }
    
    #pagina2{
        height: 50vh;
        background: linear-gradient(0.5turn, #000,#0b3a5c, #000);
    }
    
    #texto_pagina1{
        height: 60vh;
        padding: 10%;
    }
    
    #fondo1{
        height: 90vh;
        background: linear-gradient(0.5turn, #000, #0b3a5c, #000);
    }

    #pagina_precios{
        width: 100%;
    }

    #contenedor_precios{
        width: 100%;
    }
    
    #precios{
        height: 60vh;
        background-color: white;
        width: 25%;
        border-radius: 35px;
        border-style: solid;
    }
    
    #precios_popular{
        height: 68vh;
        width: 25%;
        border-radius: 35px;
        border-color: #0071BC;
        border-style: solid;
    }
    
    #popular{
        color: white;
        font-size: 2vh;
        border-radius: 35px;
        height: 16px;
        width: 10%;
        background-color: #0071BC;
        margin-left: 6%;
        margin-top: -9px;
    
    }
    
    #primer_texto{
        margin-top: 6vh;
        font-size: 10px;
    }
    #segundo_texto{
        font-size: 10px;
    }
    
    #div_final{
        height: 50vh;
        margin-top: 80px;
        margin-left: 100px;
        border-left: #0097bc;
        border-left-style: solid;
    }
    
    #imagen_final{
        margin-top: 120px;
        margin-left: 100px;
    }
    
    .mes{
        background-color: white;
        color: rgb(160, 158, 158);
        font-size: 70%;
    }
    
    .start{
        font-size: 12vh;
        color: white;
    }
    
    .second{
        font-size: 6vh;
        color: white;
    }
    
    .boton_precios{
        width: 80%;
        height: 12%;
        border-radius: 35px;
        border-style: none;
        background-color: white;
        color: #0071BC;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
    
    .boton_info{
        margin-top: 2vh;
        width: 38%;
        height: 12%;
        border-radius: 35px;
        border-style: none;
        background-color: #0071BC;
        color: white;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
}

@media only screen and (max-width: 425px) {
    nav {
        display: flex !important;
    }
    header{
        display: none;
    }

    img{
        width: 300px;
    }
    
    #pagina1{
        height: 100vh;
    }
    
    #pagina2{
        height: 50vh;
        background: linear-gradient(0.5turn, #000,#0b3a5c, #000);
    }
    
    #texto_pagina1{
        height: 90vh;
        padding: 20%;
    }
    
    #fondo1{
        height: 90vh;
        background: linear-gradient(0.5turn, #000, #0b3a5c, #000);
    }
    
    #precios{
        height: 400px;
        border-radius: 35px;
        border-style: solid;
    }
    
    #precios_popular{
        height: 400px;
        border-radius: 35px;
        border-color: #0071BC;
        border-style: solid;
    }
    
    #popular{
        border-radius: 35px;
        width: 7%;
        background-color: #0071BC;
    
    }
    
    #primer_texto{
        margin-top: 6vh;
    }
    
    #texto_final{
        margin-top: 80px;
        margin-left: 200px;
        border-left: #0097bc;
        border-left-style: solid;
    }
    
    #imagen_final{
        margin-top: 120px;
        margin-left: 100px;
    }
    
    .mes{
        background-color: white;
        color: rgb(160, 158, 158);
        font-size: 70%;
    }
    
    .start{
        font-size: 12vh;
        color: white;
    }
    
    .second{
        font-size: 6vh;
        color: white;
    }
    
    .boton_precios{
        width: 80%;
        height: 12%;
        border-radius: 35px;
        border-style: none;
        background-color: white;
        color: #0071BC;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
    
    .boton_info{
        margin-top: 2vh;
        width: 30%;
        height: 13%;
        border-radius: 35px;
        border-style: none;
        background-color: #0071BC;
        color: white;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }
}


