body{  
    background-color: #000 !important;
    font-family: 'Roboto', sans-serif !important;
}


.logo{
    height: 100%;
}

header{
    display: flex;
    height: 10vh;
}
.content{
    margin-top: 4%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

  .bg-effect {
    background-color: #0071BC;
    filter: blur(200px) opacity(1);
    z-index: 0;
  }
a{
    text-decoration: none !important;
    color: #fff !important;
}

a:hover{
    color: #009bbc !important;
}

a:last-child{
    border-bottom: #009bbc !important;
}

.underline {
    position: relative;
    text-decoration: none;
  }
  
  .underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
  }
  
  .underline:hover::after {
    color: #009bbc;
    transform: scaleX(1);
  }
  
  .underline.left:hover::after{
    transform-origin: left;
  }
  .nav-link{
    color: white;
  }

  #selected{
    color: #009bbc !important;
  }

  #selected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
  }
  
  #selected:hover::after {
    color: #009bbc;
    transform: scaleX(1);
    
  }
  
  #selected:hover::after{
    transform-origin: left;
  }

  input:not(.form-check-input):not(.boton),select{
    border-radius: 10px !important;
    background-color: #286ea000 !important;
    border: #009bbc solid !important;
    color: #fff !important;
}

input:hover{
    cursor: auto;
}

select{
    cursor: pointer;
}


option{
    color: rgb(255, 255, 255);
    background-color:#002138;
    font-size: medium;
    cursor: pointer;
}

hr {
    color:#0097bc;
  }

  .galeria{
    z-index: 1;
  }
.foto1{
    background-image: url('/images/templates/1.jpg');
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.foto2{
    background-image: url('/images/templates/2.png');
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.foto3{
    background-image: url('/images/templates/3.jpg');
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.foto4{
    background-image: url('/images/templates/4.jpg');
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.foto5{
    background-image: url('/images/templates/5.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.foto:hover{
    transition:0.75s;
    z-index: 2;
    transform: scale(1.15);
    cursor: pointer;
}
.foto:not(:hover){
    transition:0.75s;
    z-index: 1;
    transform: scale(1)
}
.cont2{
  display: none;
}
.azul2{
  display: none;
}
.slidersicon{
  display: none;
}
@media (min-width : 425px) and (max-width : 768px){
  select, input,option{
    font-size: small !important;
  }

  foto{
    height: 150px;
  }
  
}
@media (max-width :426px){
  .cont1{
    display: none;
  }
  .cont2{
    display: flex;
  }
  .azul2{
    display: block;
    top: 1500px;
    right: 50px;
  }
  .settings1{
    display: none !important;
  }
  .settings2{
    display: flex;
  }
  .slidersicon{
    display: block;
  }
}
@media (min-width: 769px){
  #mynavbar{
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.301) !important;
}
}
